@import "bourbon";

.repo-nav {
    list-style: none;
    li {
        display: inline;
        a {
            text-decoration: none;
            font-weight: thin;
        }
        a.active {
            text-decoration: underline;
            font-weight: bolder;
        }
    }
}