<h2>List of Orgs</h2>

<ul>
    {{#each model as |o|}}
        {{github-org org=o on-fav-clicked="addToFavorites"}}
    {{/each}}
</ul>

{{social-info name="Ravi" twitter="raviprasad0709" github="raviprasad7" on-links-toggled="linksToggled"}}

{{outlet}}