<h2>List of Orgs</h2>

<ul>
    <li>{{link-to "Facebook" "org.repos" "facebook"}}</li>
    <li>{{link-to "Github" "org.repos" "github"}}</li>
    <li>{{link-to "Google" "org.repos" "google"}}</li>
</ul>

{{outlet}}