<h2>List of Orgs</h2>

<ul>
    {{#each model as |org|}}
        <li>
            {{link-to org.name "org.repos" org.id}}
            <span {{action 'addToFavorites' org.id}}>(Add to Favs)</span>    
        </li>
    {{/each}}
</ul>

{{outlet}}